h1{
  color: aquamarine;
  background-color:red; padding: 20px;
}
p{
  color: red;
  font-size: larger;
}
.parent{
  border: 2px solid blue ; 
  display: flex; 
  justify-content: space-evenly; 
  align-items:center;
  height: 600px;
}
.child{
  border: 2px solid black;
  height: 50px;
  width: 50px;
}